* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

/* IDEA: inizio asidebar */
#aside-bar {
    height: calc(100vh - 100px);
    width: 200px;
    background-color: black;
    float: left;
    color: rgba(255, 255, 255, 0.6);
    position: relative;
}

#logo img {
    padding-top: 20px;
    width: 150px;
    height: auto;
    object-fit: contain;
    text-align: center;
    padding-bottom: 15px;
    padding-left: 15px;
}

.icon {
    padding: 7px 0 7px 15px;
}

.icon:nth-of-type(2) {
    color: #fff;
    border-left: 3px solid #1AB26B;
    padding-left: 12px;
}

.icon p{
    display:inline-block;
    padding-left: 5px;
}

#aside-bar h5 {
    text-transform: uppercase;
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.9);
}

.last-played {
    padding: 20px 0 15px 15px;
}

#menu-bottom {
    padding-left: 15px;
    position: absolute;
    bottom: 10px;
}

#install p , #account p {
    display: inline-block;
    padding-left: 5px;
    padding-top: 15px;
    text-align: center;
}

#install {
    padding-bottom: 8px;
    width: 150px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

#account p {
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
}




/* IDEA: main */
main {
    height: calc(100vh - 100px);
    width: calc(100% - 200px);
    background-color: lightblue;
    float: left;
}

footer {
    height: 100px;
    width: 100%;
    background: violet;
    float: left;
}
